{% extends 'admin_base.html' %}

{% block content %}
<hr> 
  <div class="container d-flex justify-content-around">
    <button class="btn btn-outline-danger btn-lg"><h2>Total Revenue - {{ total_revenue.total_price__sum }}</h2</button>
    <button class="btn btn-outline-danger btn-lg"><h2>Total Customers - {{ total_customers }}</h2</button>
    <button class="btn btn-outline-danger btn-lg"><h2>Total Profit Earned - {{ admin_profit.admin_profit__sum }}</h2></button>
  </div>
<hr>
<h3>Orders</h3>
<table class="table">
  <thead>
    <tr class="table-active">
      <th scope="col">Order ID</th>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Total Price</th>
      <th scope="col">Created Date</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr class="table-danger">
      <th scope="row">{{order.id}}</th>
      <td>{{ order.user.id }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.email }}</td>
      <td>{{ order.total_price }}</td>
      <td>{{ order.ordered_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  <hr>
  {%endblock%}