<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% load static %}
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="" type="">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap Core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

  <!-- bootstrap core css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" />

  <!-- font awesome style -->
  <!-- <link href="../static/css/font-awesome.min.css" rel="stylesheet" /> -->

  <!-- boxicons cdn -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

  <title>The FashionClub. - Admin</title>
  
</head>

<body>
    <!-- header section starts -->
    <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link h4" href="#">The FashionClub.</a>
              </li>
              <li class="nav-item">
                {% if request.user.is_authenticated and request.user.is_admin %}
                <a class="nav-link m-1" href="#">Hello {{ user.username }}!</a>
                {% endif %}
              </li>
            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% if request.user.is_authenticated and request.user.is_admin %}
               <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customadmin:vendors_list' %}">Vendors</a>
                </li>
  
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'buyer:order_history' %}">Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customadmin:logout_view' %}">LogOut</a>
                </li>
                {% else %}
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customadmin:buyer_register' %}">SignUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customadmin:login_view' %}">LogIn</a>
                </li>
                {% endif %}
                 -->
                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'buyer:cart_view' %}"><i class='bx bxs-cart bx-sm'></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'customadmin:vendor' %}">Sell products</a>
                </li>
                  </ul> --> 
                </div>
              </nav>
            </div>
          </header>
          <!-- end header section -->
    
    {% block content %}

    
    {% endblock %}
</body>
</html>